@tailwind base;
@tailwind components;
@tailwind utilities;

.paused {
    animation-play-state: paused !important;
}

.backwards {
    animation-direction: reverse !important;
}

.spin {
    animation: spin 7s infinite linear;
}

.faster {
    animation-duration: 5s !important;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}